body{
background-image: url(https://media.giphy.com/media/l1BgRuUbcL5wgQLtu/giphy.gif);
background-size: cover;
height: 100vh;
padding:0%;
margin:0%;
overflow: scroll;
}
nav{
display: block;
text-align: center;
padding: 1%;
margin-left: 0%;
background: black;
color: white;
}
nav ul{
  text-decoration-color: white;
list-style: none;
display: flex;
justify-content: space-around;
padding: 0%;
width: 100%;
}
nav li{
  display: inline-block;
  color; white;
}
a, a:hover, a:active, a:visited{
   color: white;
}
h1,h2,h3,h4,h5{
  text-align: center;
  color: white;
  font-size: 30px;
}
p{
  text-align: center;
  color: white;
  font-size: 20px;
}
